div, textarea {
    margin: 0;
    padding: 0;
    /*border:1px solid blue;*/
}

.register h3, .login h3, .edit h3, .my-posts h3, .create h3{
    color: coral;
}

.navbar-default {
    background-color: white;
    border-bottom: 3px solid coral;
}

#logo{
    position: absolute;
    width: 150px;
    z-index: 0;
}

#logout{
    margin-left: -15px;
    margin-top: -3px;
    display: inline-block;
    background-color: rgba(211, 211, 195, 0.5);
    color: rgba(47, 79, 79, 0.52);
    border-radius: 3px;
}

body>nav {
    margin-bottom: 10px;
    height: 72px;
    color: coral;
    position: absolute;
    z-index: 9;
}

body>nav>a {
    display: inline-block;
    margin: 10px 0 0 10px;
}

ul.menu {
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 72px;
}

ul.menu li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

ul.menu li:hover {
    background: #ccc;
}

ul.menu li a {
    text-decoration: none;
    color: coral;
}

.search-group{
    display:inline-block;
    margin: 5px 0;
    padding: 5px,0;
    height: 35px;
}

#search-button{
    margin:0;
    padding: 5px;
    background-color: rgba(255, 254, 175, 0.32);
    color: darkslategray;
    border: 1px solid lightgrey;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    height: 35px;
    width: 30%;
}

#search-field{
    border-radius: 3px 0 0 3px;
    display: inline-block;
    margin:5px 0;
    padding: 5px 10px 5px 5px;
    height: 30px;
}

#logged-in-user {
    display: inline-block;
    height: 72px;
}

#logged-in-user p {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 0;
    float: right;
}

#logged-in-user form {
    display: inline-block;
    margin: 5px 0;
    padding: 5px 0;
}

.home-post-info, .read-post-info, .home-post-tags, .read-comment-info {
    padding: 5px 5px 0 5px;
    color: coral;
    font-size: 11px;
}

.read-post-visits, .home-post-visits{
    display: inline-block;
    padding: 5px;
    color: coral;
    font-size: 11px;
    float: right;
}

.home-post-body, .read-post-body {
    min-height: 90px;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    background-color: #ffe8b3;
    border-radius: 0 0 5px 5px;
    color: darkslategrey;
    white-space: pre-line;
}

.home-post-title, .read-post-title {
    margin-bottom: 3px;
    min-height: 15px;
    padding: 5px;
    background-color: #ffe8b3;
    border-radius: 5px 5px 0 0;
    color: darkslategrey;
}

.home-post-tags {
    padding: 5px 5px 0px 5px;
    color: coral;
    font-size: 11px;
    max-height: 20px;
}

.home-post-tags p {
    display: inline-block;
}

.home-post-body{
    border: none;
    max-height: 50px;
}

.read-comment-body {
    min-height: 90px;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 254, 175, 0.32);
    border: 1px solid rgba(240, 128, 128, 0.48);
    border-radius: 5px;
    color: darkslategrey;
    white-space: pre-line;
    margin-bottom: 10px;
}

.register input[type="text"]{
    background-color: rgba(255, 254, 175, 0.32);
    color:darkslategray;
}

.home-posts, .my-posts, .read-post, .login, .register, .my-posts, .edit, .create, ul.info-messages, ul.error-messages {
    margin-top: 30px;
}
.pagination {
    padding-left: 0;
}
#create-new{
    padding: 0;
    margin-bottom: 10px;
}

#my-posts {
    border: 1px solid coral;
    border-collapse: collapse;
}

#my-posts th, #my-posts tr, #my-posts td {
    border: 1px solid coral;
    padding: 4px;
    vertical-align: top;
}

.my-posts td div {
    height: 60px;
    overflow: hidden;
}

textarea {
    display: block;
}

textarea.leave-comment {
    margin: 10px 0 10px 0;
    padding: 5px;
    width:100%;
    background-color: rgba(255, 254, 175, 0.32);
    border-color: rgba(240, 128, 128, 0.48);
    border-radius: 5px;
    white-space: pre-line;
    color: darkslategray;
}

.comment-credentials {
    padding: 0;
}

.comment-name, .comment-email{
    margin: 0 20px 5px 0;
    padding: 0;
    background-color: rgba(255, 254, 175, 0.32);
    color: darkslategray;
    border: 1px solid lightgrey;
    padding: 2px;
    border-radius: 3px;
}

.create form div{
    margin-bottom: 10px;
}

#remove-tags {
    display: inline-block;
    line-height: 35px;
    margin-right: 10px;
}

.tRow {
    padding-left: 5px;
}

.tRow label {
    margin-right: 5px;
}

.submit-button {
    margin: 5px 0 20px 0;
    padding: 0;
    background-color: rgba(255, 254, 175, 0.32);
    color: darkslategray;
    border: 1px solid lightgrey;
    padding: 2px;
    border-radius: 3px;
    min-width: 40px;
}

a.cancel-link{
    text-decoration: none;
    color: darkslategray;
}

body>footer {
    background: coral;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

ul.info-messages, ul.error-messages {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background: lightsteelblue;
    position: relative;
    z-index:10001;
    border-radius: 5px;
}

ul.info-messages li {
    display: block;
}

ul.error-messages {
    width: 80%;
    height: 40px;
    margin: 10px auto;
    padding: 10px;
    background: orangered;
    position: relative;
    z-index:10000;
    border-radius: 5px;
}

ul.error-messages li {
    display: block;
}